form {
    .text-input {
        border: none;
        border-bottom: 2px solid $blue;
        width: 93%;
        padding: 10px;
        font-size: 1em;
        color: $medium-gray;
        margin-bottom: 10px;
    }
    textarea {
        width: 93%;
        max-width: 93%;
        min-width: 93%;
        min-height: 60px;
        max-height: 200px;
    }
    button[type=submit] {
        padding: 10px 20px;
        @include border-radius(100px);
        margin-top: 20px;
        background-color: $yellow;
        color: #fff;
        font-size: 1em;
        font-weight: 500;
        letter-spacing: 0.01em;
        cursor: pointer;
    }
    .submit-icon {
        padding: 0!important;
        @include border-radius(0);
        margin: 0!important;
        background-color: initial!important; 
        img {
            width: 25px;
        }
    }
    select {
        width: 100% !important;
    }
    .small {
        font-size: 0.8em;
        color: $medium-gray;
    }
    .error {
        font-size: 0.8em;
        color: $medium-gray;
        color: rgb(180, 0, 0);
        margin-bottom: 10px;
    }
    h2 {
        margin: 40px 0 10px 0;
        font-size: 0.9em;
    }
    .submit-cont {
        text-align: right;
    }
    .preview p {
        font-size: 0.8em;
    }
}

.contrib-coment-form {
    margin-bottom: 30px;
    .contrib-attached {
        display: none;
    }
    .attached-label {
        cursor: pointer;
        width: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        img {
            width: 100%;
        }
    }
    .submit-icon {
        display: inline-block;
        vertical-align: middle;
    }
    .actions {
        text-align: right;
        margin-right: 3%;
    }
}

.guest-group {
    margin-bottom: 20px;
    .guest {
        display: inline-block;
        padding-right: 10px;
        margin: 5px 5px 0 0;
        background-color: $light-gray;
        @include border-radius (100px);
        .profile-pic {
            width: 20px;
            height: 20px;
            margin-right: 2px;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;                
            background-size: cover;
            background-repeat: no-repeat;
            @include border-radius (50%);
        }
        .icon {
            vertical-align: middle;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: -4px;
            img {
                margin-top: 2.5px;
                height: 15px;
                width: 15px;
            }
        }
        .name {
            display: inline-block;
            font-size: 0.9em;
        }
    }
}