form {
    .text-input {
        border: none;
        border-bottom: 2px solid $blue;
        width: 93%;
        padding: 10px;
        font-size: 1em;
        color: $medium-gray;
        margin-bottom: 10px;
    }
    button[type=submit] {
        padding: 10px 20px;
        @include border-radius(100px);
        margin-top: 20px;
        background-color: $yellow;
        color: #fff;
        font-size: 1em;
        font-weight: 500;
        letter-spacing: 0.01em;
        cursor: pointer;
    }
    select {
        width: 100% !important;
    }
    h2 {
        margin-bottom: 10px;
        font-size: 0.9em;
    }
    .submit-cont {
        text-align: right;
    }
}