@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

* {
    margin: 0;
    padding: 0;
    clear: both;
    border: none;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    color: $gray;
}