.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.cont-left {
    width: 250px;
    overflow: hidden;
    margin-bottom: 20px;
    .logo {
        margin: 10px;
        img {
            width: 230px;
        }
    }
    .project-btn {
        display: block;
        background-color: $yellow;
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.03em;
        padding: 10px;
        -webkit-border-radius: 0 100px 100px 0;
        border-radius: 0 100px 100px 0;
        max-width: 270px;
    }
}

.cont-right {
    margin-top: 15px;
    text-align: center;
    .noti-bar {
        height: 30px;
        border-bottom: 1px solid $medium-gray;
        .profile, .notification, .config {
            display: inline-block;  
            vertical-align: middle;
        }
        .profile{
            margin-right: 20px;
            cursor: pointer;
            a {
                display: inline-block;
                vertical-align: middle;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .pic-name {
                height: 20px;
                img {
                    width: 20px;
                    vertical-align: middle;
                    
                }
                p {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 0.9em;
                }
            }
            .arrow {             
                height: 10px;
                width: 10px;
                padding: 3px;
                img {
                    display: block;
                }
            }
        }
        .notification {
            cursor: pointer;
            margin-right: 20px;
            .icon {
                img {
                    height: 17px;
                }
                span {
                    border: 2px solid $yellow;
                    @include border-radius(100%);
                    width: 14px;
                    height: 14px;
                    display: inline-block;
                    text-align: center;
                    line-height: 14px;
                    font-size: 0.8em;
                    font-weight: 800;
                    color: $gray;
                    background-color: #fff;
                    margin-left: -13px;
                    vertical-align: top;
                    margin-top: -8px;
                }
            }
        }
        .config {
            cursor: pointer;
            a {
                display: inline-block;
                height: 20px;
                img {
                    height: 100%;
                }
            }
        }
    }
    .noti-feed {
        display: none;
        border: 1px solid $medium-gray;
        border-right: none;
        border-left: none;
        .noti {
            display: block;
            border-bottom: 1px solid $medium-gray;
            padding: 10px;
            text-align: center;
            .proj-img {
                width: 50px;
                height: 50px;
                display: inline-block;
                background-size: cover;
                background-repeat: no-repeat;
                overflow: hidden;
                @include border-radius (200px);
                margin-right: 10px;
                vertical-align: middle;
            }
            .proj-name {
                display: inline-block;
                width: 220px;
                margin-right: -4px;
                vertical-align: middle;
                p {
                    font-size: 0.9em;
                }
                span {
                    font-size: 0.9em;
                    font-weight: 600;
                    display: inline-block;
                    margin-top: 10px;
                    img {
                        margin-top: 2px;
                        margin-right: 7px;
                        height: 15px;
                        display: inline-block;
                        vertical-align: top;
                    }
                }
            }
        }
        .noti:last-child {
            border-bottom: none;
        }
        .unread {
            border-right: 5px solid $yellow;
        }
    }
}

@media (min-width: 992px) {
    .cont-left {
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
    }
    .cont-main {
        display: inline-block;
        vertical-align: top;     
    }
    .cont-right {
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
        width: 300px;
        .noti-bar {
            text-align: left;
        }
        .noti-feed {
            margin-top: 20px;
            max-width: 300px;
            -webkit-border-radius: 25px 0 0 25px;
            border-radius: 25px 0 0 25px;
            border-left: 1px solid $medium-gray;
            .noti {
                text-align: left;
                .proj-img {
                    width: 40px;
                    height: 40px;
                    vertical-align: top;
                }
            }
        }
    }
}

