.register {
    max-width: 270px;
    margin: 0 auto;
    margin-top: 40px;
    .logo {
        max-width: 230px;
    }
    img{
        width: 100%;
    }
    .legal{
        p {
            font-size: 0.9em;
            a{
                text-decoration: underline;
            }
        }
    }
}