.proj-list {
    margin: 50px auto 0 auto;
    max-width: 700px;
    .title {
        padding: 0 20px;
        margin-bottom: 20px;
        h1 {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            margin-bottom: 10px;
        }
        .icon-btn {
            background-color: $yellow;
            @include border-radius(100px);
            padding: 7px 20px;
            display: inline-block;
            vertical-align: middle;
            p{ 
                color: #fff;
                font-weight: 600;
                letter-spacing: 0.02em;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
            img {
                display: inline-block;
                height: 20px;
                vertical-align: middle;
            }
        }
    }
    .list {
        text-align: center;
        .project {
            padding: 30px 0;
            border-top: 2px solid $medium-gray;
            .img {
                border: 3px solid #fff;
                width: 100px;
                height: 100px;
                margin-bottom: 20px;
                background-color: $blue;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                @include border-radius(50%);
                overflow: hidden;
                display: inline-block;
            }
            .name {
                margin-bottom: 20px;
                display: block;
                p {
                    font-weight: 600;
                    font-size: 1.15em;
                }
            }
            .info {
                margin-bottom: 40px;
            }
            .actions {
                a {
                    display: inline-block;
                    vertical-align: middle;
                    width: 35px;
                    height: 35px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                a:first-child {
                    height: 28px;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (min-width: 991px) {
    .proj-list {
        padding: 0 20px;
        margin-top: 120px;
        .title {
            padding: 0;
            
        }
    }
}


@media (min-width: 1190px) {
    .proj-list {
        .title {
            .icon-btn {
                float: right;
            }
        }
        .list {
            text-align: left;
            .project {
                padding: 10px 20px;
                border: none;
                background-color: #f1f1f1;
                @include border-radius(20px);
                margin-bottom: 10px;
                .img {
                    width: 90px;
                    height: 90px;
                    vertical-align: middle;
                    margin: 0;
                    margin-right: 10px;
                }
                .name {
                    display: inline-block;
                    vertical-align: middle;
                    width: 26%;
                    margin: 0;
                    margin-right: 10px;
                }
                .info {
                    display: inline-block;
                    vertical-align: middle;
                    width: 30%;
                    margin: 0;
                    margin-right: 10px;
                }
                .actions {
                    display: inline-block;
                    vertical-align: middle;
                    width: 90px;
                    margin: 0;
                    margin-right: 10px;
                }
            }
            
        }
    }
}