$blue: #152A6D;
$yellow: #F9AF00;
$gray: #4F4F4F;
$medium-gray: #A8A8A8;
$light-gray: #EFEFEF;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition ($duration) {
    -webkit-transition: all $duration ease-in-out;
    -moz-transition: all $duration ease-in-out;
    -ms-transition: all $duration ease-in-out;
    -o-transition: all $duration ease-in-out;
    transition: all $duration ease-in-out;
}